<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AsdosTesPABD.Properties.Settings.Bimbingan_TAConnectionString"
            connectionString="Data Source=CHLUNIDIA;Initial Catalog=Bimbingan_TA;User ID=sa;Password=Chluni2350719"
            providerName="System.Data.SqlClient" />
        <add name="AsdosTesPABD.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=CHLUNIDIA;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>